<!DOCTYPE html>
<html lang="EN">
<head>
    <%- include('./head'); %>
    <link rel="stylesheet" href="products.css">
    <title>Product</title>
</head>
<body>
  <%- include('./nav2'); %>
  <div class="row">
      <div class="col-2">
          <ul class="list-group">
              <li class="list-group-item list-group-item-info">所有产品</li>
              <li class="list-group-item"><a href="circularConnectors-zh" class="text-muted disabled">圆形连接器 </a></li>
              <li class="list-group-item"><a href="rectangularConnectors-zh" class="text-muted disabled">矩形连接器 </a></li>
              <li class="list-group-item"><a href="RFConnectors-zh" class="text-muted disabled">射频连接器</a></li>
              <li class="list-group-item"><a href="circuitConnectors-zh" class="text-muted disabled">板间</a></li>
              <li class="list-group-item"><a href="Cords-zh" class="text-muted disabled">线缆组件</a></li>
            </ul>
      </div>
      <div class="col-10">
          <div class="row">
              <div class="col-12">
                <div class="row" style="margin-top: 6rem;">
                  <nav aria-label="breadcrumb" style="margin-top: 3rem; margin-bottom: 1rem;">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="products-zh">产品</a></li>
                        <li class="breadcrumb-item"><a href="rectangularConnectors.ejs">矩形连接器 </a></li>
                      </ol>
                    </nav>
                  </div>
                    <div class="row gy-4" style="margin-top: 4rem;">
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J3-396-4TKS.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J3-396-4TKS</h5>
        <p class="card-text">广泛应用于现代精密计测领域和各类毫米波通信设备中 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J3-396-4ZJBS.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J3-396-4ZJBS</h5>
        <p class="card-text">广泛应用于现代精密计测领域和各类毫米波通信设备中 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J3-396-4ZJBS-1.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J3-396-4ZJBS-1</h5>
        <p class="card-text">广泛应用于现代精密计测领域和各类毫米波通信设备中 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J3-396-4TKYS-1.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J3-396-4TKYS-1</h5>
        <p class="card-text">广泛应用于现代精密计测领域和各类毫米波通信设备中 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/DE-9SLS.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">DE-9SLS</h5>
        <p class="card-text">广泛应用于现代精密计测领域和各类毫米波通信设备中 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J29SeriesMicroRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J29系列微矩形连接器 </h5>
        <p class="card-text">广泛用于航天、航空、电子计算机等各类电子设备的电路连接</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J30SeriesMicroRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J30系列微矩形连接器 </h5>
        <p class="card-text">广泛用于航天、航空、电子计算机等各类电子设备的电路连接 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J39ASeriesMicroRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J39A系列微矩形连接器 </h5>
        <p class="card-text">广泛用于航天、航空、电子计算机等各类电子设备的电路连接 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J29ASeriesMicroRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J29A系列微矩形连接器 </h5>
        <p class="card-text">广泛用于航天、航空、电子计算机等各类电子设备的电路连接 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J14ASeriesMicroRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J14A系列微矩形连接器 </h5>
        <p class="card-text">属于低频电连接器，双保险锁紧机构，是矩形电连接器中兼顾操作快捷、使用可靠的连接锁紧形式 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J30JZSeriesMicroRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J30JZ系列微矩形连接器 </h5>
        <p class="card-text">插头采用低插拔力的绞线式弹性麻花针，产品特点：插拔力低、接触可靠性高、机械寿命长 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J30JYSeriesMicroRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J30JY系列微矩形连接器 </h5>
        <p class="card-text">用于需要连接器暴露在潮湿的野外环境下使用的电气电路系统的互联</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J63-J63ASeriesMicroRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J63-J63A系列微矩形连接器 </h5>
        <p class="card-text">采用麻花针结构，占用空间小 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/HJ34SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">HJ34系列矩形连接器 </h5>
        <p class="card-text">适用于航空、航天、舰船、核工业、电台等设备之间和设备内部的信号和电源系统的连接</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/HJ39SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">HJ39系列矩形连接器 </h5>
        <p class="card-text">接触件为镀金件，插孔采用不锈钢套管进行保护 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J30JSeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J30J系列矩形连接器 </h5>
        <p class="card-text">采用镀金绞线式插针(俗称麻花针)，单个接触件接触点达七个，具有极大的接触可靠性</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J63ASeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J63A系列矩形连接器 </h5>
        <p class="card-text">适用于高密度、微型化、轻型化、高可靠要求的各种电气电路系统的互联，满足系统轻型化和小型化的需求</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J66SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J66系列矩形连接器 </h5>
        <p class="card-text">产品接触件间距为 0.9mm，体积只有 J30J系列连接器的三分之一：比 J63A系列连接器体积略大，但可靠性有大副提高</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/CRM2SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">CRM2系列矩形连接器 </h5>
        <p class="card-text">广泛应用于小型化、便携式产品，也可用于印制板上需要抗振动、抗冲击的设备。该产品耐波峰焊接 、可有效连接线路，不瞬断</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/CRM3SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">CRM3系列矩形连接器 </h5>
        <p class="card-text">广泛应用于小型化、 便携式产品，也可用于印制板上需要抗振动、抗冲击的设备。该产品耐波峰焊接、可有效连接线路，不瞬断</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J56SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J56系列矩形连接器 </h5>
        <p class="card-text">产品为直插转接插座，即相同芯数的插座可以相互插合</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J27ASeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J27A系列矩形连接器 </h5>
        <p class="card-text">本系列印制板电连接器主要用于电子设备、计算机内印制板之间、印制板与电缆之间、电缆与电缆之间的电路连接</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/CDbSeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">CDb系列矩形连接器 </h5>
        <p class="card-text">CDb-33 产品为塑料外壳，其余规格产品均为金属外壳，且通用J18系列产品的外壳</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/Y34MSeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">Y34M系列矩形连接器 </h5>
        <p class="card-text">采用绞线式弹性插针(俗称麻花针)，接点密度高 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J58SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J58系列矩形连接器 </h5>
        <p class="card-text">产品广泛用于航空、航天、军用通信电子设备的电路连接</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/JL17-03SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">JL17-03系列矩形连接器 </h5>
        <p class="card-text">产品可广泛应用于各种军工和民用电子设备中，现已用于某军用通信设备电源项目中 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J3SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J3系列矩形连接器 </h5>
        <p class="card-text">产品可广泛应用于各种军工通信和民用电子设备中 </p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J10SeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J10系列矩形连接器 </h5>
        <p class="card-text">产品基座外壳采用高强度工程塑料，具有体积小重量轻，耐高温等优点产品广泛用于军民用通信电子设备中</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/DSeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">D系列矩形连接器 </h5>
        <p class="card-text">D 系列矩形连接器是国际上广泛采用的一种连接器,可供无线电电子设备中机内组件间直流或交流电路用</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/DXSMSeriesRectangularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">DXSM系列矩形连接器 </h5>
        <p class="card-text">产品可广泛应用于各种军工和民用电子设备中。现已用于多种军用通信项目中</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>
<div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/rectangular connectors/J60JMicroRectangularElectricalConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
        <h5 class="card-title">J60J微矩形电连接器</h5>
        <p class="card-text">本系列印制板电连接器主要用于电子设备、计算机内印制板之间、印制板与电缆之间、电缆与电缆之间的电路连接</p>
        <a href="#" class="btn btn-primary">查看详情</a>
        </div>
    </div>
</div>

</div>
              </div>
          </div>
      </div>
    </div>
      <footer>
        <%- include('./footer'); %>
      </footer>
      <%- include('./scripts'); %>
</body>
</html>



