<!DOCTYPE html>
<html lang="EN">
<head>
    <%- include('./head'); %>
    <link rel="stylesheet" href="products.css">
    <title>Product</title>
</head>
<body>
  <%- include('./nav2'); %>
  <div class="row">
      <div class="col-2">
          <ul class="list-group">
              <li class="list-group-item list-group-item-info">Products Categories</li>
              <li class="list-group-item"><a href="circularConnectors-en" class="text-muted disabled">Circular Connectors</a></li>
              <li class="list-group-item"><a href="rectangularConnectors-en" class="text-muted disabled">Rectangular Connectors</a></li>
              <li class="list-group-item"><a href="RFConnectors-en" class="text-muted disabled">射频连接器</a></li>
              <li class="list-group-item"><a href="circuitConnectors-en" class="text-muted disabled">板间</a></li>
              <li class="list-group-item"><a href="Cords-en" class="text-muted disabled">线缆组件</a></li>
            </ul>
      </div>
      <div class="col-10">
          <div class="row">
              <div class="col-12">
                <div class="row" style="margin-top: 6rem;">
                  <nav aria-label="breadcrumb" style="margin-top: 3rem; margin-bottom: 1rem;">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="products-en">Products</a></li>
                        <li class="breadcrumb-item"><a href="circularConnectors-en">Circular Connectors</a></li>
                      </ol>
                    </nav>
                  </div>
                    <div class="row gy-4" style="margin-top: 4rem;">
                      <div class="col-xxl-3">
                          <div class="card" style="width: 18rem;">
                              <img src="image/circular connectors/Connector1.jpg" class="card-img-top" alt="image not available">
                              <div class="card-body">
                                <h5 class="card-title">Connector1</h5>
                                <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment</p>
                                <a href="connector1-en" class="btn btn-primary">View Details</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-xxl-3 col-3">
                          <div class="card" style="width: 18rem;">
                              <img src="IMAGE/Circular Connectors/Connector2.jpg" class="card-img-top" alt="image not available">
                              <div class="card-body">
                                <h5 class="card-title">Connector2</h5>
                                <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment</p>
                                <a href="connector2-en" class="btn btn-primary">View Details</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-xxl-3">
                          <div class="card" style="width: 18rem;">
                              <img src="IMAGE/Circular Connectors/Connector3.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Connector3</h5>
                                <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment </p>
                                <a href="connector3-en" class="btn btn-primary">View Details</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-xxl-3">
                          <div class="card" style="width: 18rem;">
                              <img src="image/circular connectors/XC-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                              <div class="card-body">
                                <h5 class="card-title">XC Series Circular Connectors</h5>
                                <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment </p>
                                <a href="#" class="btn btn-primary">View Details</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-xxl-3">
                          <div class="card" style="width: 18rem;">
                              <img src="image/circular connectors/XCA-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                              <div class="card-body">
                                <h5 class="card-title">XCA Series Circular Connectors</h5>
                                <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment </p>
                                <a href="#" class="btn btn-primary">View Details</a>
                              </div>
                            </div>
                      </div>
                    
                      <div class="col-xxl-3">
                          <div class="card" style="width: 18rem;">
                              <img src="image/circular connectors/XCM-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                              <div class="card-body">
                                <h5 class="card-title">XCM Series Circular Connectors</h5>
                                <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment </p>
                                <a href="#" class="btn btn-primary">View Details</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-xxl-3">
                          <div class="card" style="width: 18rem;">
                              <img src="image/circular connectors/XCG-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                              <div class="card-body">
                                <h5 class="card-title">XCG Series Circular Connectors</h5>
                                <p class="card-text">Fully interchangeable with XC type electrical connectors. Safe and fast connection system </p>
                                <a href="#" class="btn btn-primary">View Details</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-xxl-3">
                          <div class="card" style="width: 18rem;">
                              <img src="image/circular connectors/XCE-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                              <div class="card-body">
                                <h5 class="card-title">XCE Series Circular Connectors</h5>
                                <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment </p>
                                <a href="#" class="btn btn-primary">View Details</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-xxl-3">
                        <div class="card" style="width: 18rem;">
                            <img src="image/circular connectors/XCF-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                            <div class="card-body">
                              <h5 class="card-title">XCF Series Circular Connectors</h5>
                              <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment </p>
                              <a href="#" class="btn btn-primary">View Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-xxl-3 col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="IMAGE/Circular Connectors/XCD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                            <div class="card-body">
                              <h5 class="card-title">XCD Series Circular Connectors</h5>
                              <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment </p>
                              <a href="#" class="btn btn-primary">View Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card" style="width: 18rem;">
                            <img src="IMAGE/Circular Connectors/CXCH-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                            <div class="card-body">
                              <h5 class="card-title">CXCH Series Circular Connectors</h5>
                              <p class="card-text">Derived from the XC series, the main technical performance is basically the same as XCH, plug, socket termination for welding, can be used in a variety of harsh environments</p>
                              <a href="#" class="btn btn-primary">View Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card" style="width: 18rem;">
                            <img src="image/circular connectors/CXCH-01-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                            <div class="card-body">
                              <h5 class="card-title">CXCH01 Series Circular Connectors</h5>
                              <p class="card-text">Soldered terminations for use in harsh environments </p>
                              <a href="#" class="btn btn-primary">View Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card" style="width: 18rem;">
                            <img src="image/circular connectors/GJB598-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                            <div class="card-body">
                              <h5 class="card-title">GJB598 Series Circular Connectors</h5>
                              <p class="card-text">Widely used in all kinds of military and civilian equipment</p>
                              <a href="#" class="btn btn-primary">View Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card" style="width: 18rem;">
                            <img src="image/circular connectors/Y4-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                            <div class="card-body">
                              <h5 class="card-title">Y4 Series Circular Connectors</h5>
                              <p class="card-text">Widely used in all kinds of military and civilian equipment </p>
                              <a href="#" class="btn btn-primary">View Details</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-xxl-3">
                      <div class="card" style="width: 18rem;">
                          <img src="image/circular connectors/Y8C-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                          <div class="card-body">
                            <h5 class="card-title">Y8C Series Circular Connectors</h5>
                            <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment </p>
                            <a href="#" class="btn btn-primary">View Details</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-xxl-3 col-3">
                      <div class="card" style="width: 18rem;">
                          <img src="IMAGE/Circular Connectors/Y11-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                          <div class="card-body">
                            <h5 class="card-title">Y11 Series Circular Connectors</h5>
                            <p class="card-text">Adopting internal bayonet type locking method, welded contact end connections, shielded and unshielded shells, easy to use, good versatility</p>
                            <a href="#" class="btn btn-primary">View Details</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-xxl-3">
                      <div class="card" style="width: 18rem;">
                          <img src="IMAGE/Circular Connectors/Y16-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                          <div class="card-body">
                            <h5 class="card-title">Y16-SeriesCircularConnectors</h5>
                            <p class="card-text">Widely used for circuit connections between various electrical devices</p>
                            <a href="#" class="btn btn-primary">View Details</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-xxl-3">
                      <div class="card" style="width: 18rem;">
                          <img src="image/circular connectors/Y17-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                          <div class="card-body">
                            <h5 class="card-title">Y17 Series Circular Connectors</h5>
                            <p class="card-text">Suitable for connection of high current power supply series </p>
                            <a href="#" class="btn btn-primary">View Details</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="image/circular connectors/Y25-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                        <div class="card-body">
                          <h5 class="card-title">Y25 Series Circular Connectors</h5>
                          <p class="card-text">Widely used in aviation, aerospace and other types of electromechanical equipment and signal transmission system</p>
                          <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                      </div>
                </div>
                <div class="col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img src="image/circular connectors/Y27-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                      <div class="card-body">
                        <h5 class="card-title">Y27 Series Circular Connectors</h5>
                        <p class="card-text">Widely used in aerospace, aviation, marine, communications and other fields </p>
                        <a href="#" class="btn btn-primary">View Details</a>
                      </div>
                    </div>
              </div>
              <div class="col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="image/circular connectors/YR-SeriesHighCurrentHighVoltageResistanceCircularConnectors.jpg" class="card-img-top" alt="image not available">
                    <div class="card-body">
                      <h5 class="card-title">YR Series High Current High Voltage Resistance Circular Connectors</h5>
                      <p class="card-text">Adopt bayonet connection, fast connection, good environmental resistance, suitable for high current power supply series connection</p>
                      <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                  </div>
            </div>
            <div class="col-xxl-3">
              <div class="card" style="width: 18rem;">
                  <img src="image/circular connectors/YA-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                  <div class="card-body">
                    <h5 class="card-title">YA Series Circular Connectors</h5>
                    <p class="card-text">Widely used in aviation, aerospace and other electrical connections between electronic devices</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                  </div>
                </div>
          </div>
          <div class="col-xxl-3">
            <div class="card" style="width: 18rem;">
                <img src="image/circular connectors/YB-SeriesICircularConnectors.jpg" class="card-img-top" alt="image not available">
                <div class="card-body">
                  <h5 class="card-title">YB Series I Circular Connectors</h5>
                  <p class="card-text">Widely used in aviation, aerospace and other electrical connections between electronic devices</p>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
        </div>
        <div class="col-xxl-3">
          <div class="card" style="width: 18rem;">
              <img src="image/circular connectors/YB-SeriesIICircularConnectors.jpg" class="card-img-top" alt="image not available">
              <div class="card-body">
                <h5 class="card-title">YB Series II Circular Connectors</h5>
                <p class="card-text">Widely used in aviation, aerospace and other electrical connections between electronic devices</p>
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
      </div>
      <div class="col-xxl-3">
        <div class="card" style="width: 18rem;">
            <img src="image/circular connectors/YX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
            <div class="card-body">
              <h5 class="card-title">YX Series Circular Connectors</h5>
              <p class="card-text">Suitable for environments that require high waterproof level, this series of products are waterproof up to IP67 level</p>
              <a href="#" class="btn btn-primary">View Details</a>
            </div>
          </div>
    </div>
    <div class="col-xxl-3">
      <div class="card" style="width: 18rem;">
          <img src="image/circular connectors/YDA-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
          <div class="card-body">
            <h5 class="card-title">YDA Series Circular Connectors</h5>
            <p class="card-text">Specialized electrical connectors, special products for on-post vacuum automatic power distribution switches in urban and rural power grid renovation</p>
            <a href="#" class="btn btn-primary">View Details</a>
          </div>
        </div>
  </div>
  <div class="col-xxl-3">
    <div class="card" style="width: 18rem;">
        <img src="image/circular connectors/YL-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
        <div class="card-body">
          <h5 class="card-title">YL Series Circular Connectors</h5>
          <p class="card-text">Applicable to aviation, aerospace, ships, field communications, post and telecommunications and other electronic equipment electrical connection</p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem;">
      <img src="image/circular connectors/YMA-YMB-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YMA YMB Series Circular Connectors</h5>
        <p class="card-text">Suitable for wet, water immersion and other harsh environments, such as equipment and cables, cables and cables between the electrical connection, head and seat insertion and closure can be resistant to 55 meters of water depth sealing</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem;">
      <img src="image/circular connectors/YMC-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YMC Series Circular Connectors</h5>
        <p class="card-text">Suitable for wet, water immersion and other harsh environments, such as equipment and cables, cables and cables between the electrical connection, head and seat insertion and closure can be resistant to 55 meters of water depth sealing</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem;">
      <img src="image/circular connectors/YMD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YMD Series Circular Connectors</h5>
        <p class="card-text">Suitable for wet, water immersion and other harsh environments, such as equipment and cables, cables and cables between the electrical connection, head and seat insertion and closure can be resistant to 55 meters of water depth sealing</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem;">
      <img src="image/circular connectors/YMG-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YMG Series Circular Connectors</h5>
        <p class="card-text">Highly reliable hyperbolic wire reed jacks for gentle plugging and unplugging of connectors with low contact resistance</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem;">
      <img src="image/circular connectors/YMH-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YMH Series Circular Connectors</h5>
        <p class="card-text">Ideal for high current transmission in harsh environments</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem;">
      <img src="image/circular connectors/FQ-SnapOnWaterproofSeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">FQ Snap On Waterproof Series Circular Connectors</h5>
        <p class="card-text">Widely used in aerospace, aviation, navigation, railroad, field communication and a variety of instruments, meters and other equipment</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/TCX3-MicrominiatureSeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">TCX3 Microminiature Series Circular Connectors</h5>
        <p class="card-text">Used in equipment such as centerless siting radios, electronic instruments, meters, and medical equipment</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/2CX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">2CX Series Circular Connectors</h5>
        <p class="card-text">For power supply connections between supply gas and radio equipment, cable to cable</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/CX-ModelSmallCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">CX Model Small Circular Connectors</h5>
        <p class="card-text">For power connections between electrical and radio equipment, where wires and cables are connected directly to each other or through a bulkhead</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/FX-SeriesWaterproofCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">FX Series Waterproof Circular Connectors</h5>
        <p class="card-text">Applicable to aviation, aerospace, ships, field communications, post and telecommunications and other electronic equipment electrical connection</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/YC-SeriesHighDensitySmallCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YC Series High Density Small Circular Connectors</h5>
        <p class="card-text">Applicable to aviation, aerospace, ships, field communications, post and telecommunications and other electronic equipment electrical connection</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/KH-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">KH Series Circular Connectors</h5>
        <p class="card-text">Applicable to aviation, aerospace, ships, field communications, post and telecommunications and other electronic equipment electrical connection</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/YLD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YLD Series Circular Connectors</h5>
        <p class="card-text">Applicable to aviation, aerospace, ships, field communications, post and telecommunications and other electronic equipment electrical connection</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/P-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">P Series Circular Connectors</h5>
        <p class="card-text">Used to connect wires or cables (either directly or through equipment bases, bulkheads) to provide electrical and electronic equipment to each other</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/X-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">X Series Circular Connectors</h5>
        <p class="card-text">For electrical and radio equipment, cable-to-cable connections</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/Y50EX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">Y50EX Series Circular Connectors</h5>
        <p class="card-text">Widely used in aviation, aerospace, navigation, communications, industrial and transportation power, post and railroad command system and other electrical and electronic equipment line connection</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/Y50X-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">Y50X Series Circular Connectors</h5>
        <p class="card-text">Widely used in aviation, aerospace, navigation, communications, industrial and transportation power, post and railroad command system and other electrical and electronic equipment line connection</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/Y50DX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">Y50DX Series Circular Connectors</h5>
        <p class="card-text">This series of products for the product delivery of high-current power connectors, in line with the GJB101A-97 standard, bayonet fast connection, the termination mode for welding, and YLD with the same type of products interchangeable</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/YGD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YGD Series Circular Connectors</h5>
        <p class="card-text">Adopt bayonet connection, the contact parts end connection form is welding, jack contact parts for the crown spring jack, the product has a fast link and separation, good environmental resistance, high reliability and so on</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/YP-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YP Series Circular Connectors</h5>
        <p class="card-text">Widely used in a variety of electrical and electronic equipment, instruments and meters between the electrical connection</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/Y2-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">Y2 Series Circular Connectors</h5>
        <p class="card-text">Widely used in all kinds of electrical equipment, instruments, meters between the line connection</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/Y3-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">Y3 Series Circular Connectors</h5>
        <p class="card-text">Widely used for circuit connections between various electrical and electronic equipment</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/Y3A-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">Y3A Series Circular Connectors</h5>
        <p class="card-text">Widely used for circuit connections between various electrical and electronic equipment</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/Y3B-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">Y3B Series Circular Connectors</h5>
        <p class="card-text">Widely used in blind plugging situation or other situations of reliable connection, locking reliable, easy to use</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/GJB599-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">GJB599 Series Circular Connectors</h5>
        <p class="card-text">Specialized tail attachment for shielded cable clamping (Ti-Ni alloy memory ring)</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/GJB599III-CompositeMaterialCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">GJB599III Series Circular Connectors</h5>
        <p class="card-text">Widely used in military portable electronic equipment, all kinds of instruments, meters, electronic equipment, medical equipment, nuclear power control equipment and other military and civilian equipment in the AC and DC electrical signal transmission</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/YQ3-CircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YQ3 Circular Connectors</h5>
        <p class="card-text">Widely used in aviation, aerospace, post and telecommunications communications, computers, navigation and a variety of instruments and meters and other equipment</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/YQ5-CircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YQ5 Circular Connectors</h5>
        <p class="card-text">Widely used in military communications, computers, navigation and a variety of instruments, meters and other equipment</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/YQ6-CircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YQ6 Circular Connectors</h5>
        <p class="card-text">Products can be widely used in various military and civilian electronic equipment</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/HJ-02-SeriesConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">HJ 02 Series Connectors</h5>
        <p class="card-text">Widely used for frequent connection and separation, need to be shielded instrumentation and equipment on the electrical signal connection</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/HJ-03-SeriesConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">HJ 03 Series Connectors</h5>
        <p class="card-text">Widely used in electronics, instrumentation, video processing, medical equipment and so on</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/YQ8-CircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YQ8 Circular Connectors</h5>
        <p class="card-text">Widely used in military communications, navigation and a variety of instruments, meters and other equipment</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/YW-CircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">YW Circular Connectors</h5>
        <p class="card-text">YW series network circular connectors are RJ45 network data interfaces integrated into a standard circular connector</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/JY24767-24768-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">JY24767/24768 Series Circular Connectors</h5>
        <p class="card-text">Widely used in aviation, aerospace, ships, electronics and other military and civilian equipment in the electrical signal, power transmission</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
<div class="col-xxl-3" style="margin-bottom: 3rem;">
  <div class="card" style="width: 18rem; ">
      <img src="image/circular connectors/TY-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
      <div class="card-body">
        <h5 class="card-title">TY Series Circular Connectors</h5>
        <p class="card-text">Bayonet quick-connect, blind plug function, contacts and wires are crimped for easy removal, highly reliable hyperbolic wire reed jacks, plugs and sockets can be fitted with both pins and holes</p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
      <footer>
        <%- include('./footer'); %>
      </footer>
      <%- include('./scripts'); %>
</body>
</html>



