<!DOCTYPE html>
<html lang="">
<head>
    <%- include('./head'); %>
    <link rel="stylesheet" href="products.css">
    <title>Product</title>
</head>
<body>
  <%- include('./nav2'); %>
  <div class="container">
      <div class="row">
        <div class="col text-center my-auto">
          <h1 class="display-4" style="margin-top: 6rem;">Product Categories</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-1 col-xs-0"></div>
        <div class="col-xxl-10 col-xs-12">
          <div class="card mb-3" style="margin-top: 2rem;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="image/circular connectors/connector1.jpg" class="img-fluid rounded-start" alt="Image not available">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">Circular Connectors</h1>
                  <p class="card-text">Products in line with GJB101, GJB598, GJB599, GJB5371 and other national military standards (equivalent MIL U.S. military standards) of the circular series of products, the main models are: JY, YMC, YMD, YMG, YQ, YT, XC, Y50, YA, YB, YW and other series of high-reliability military circular connectors, the product is widely used in the shipboard, airborne, vehicle-mounted communications, satellite navigation, radar and other equipment systems and land-based equipment, electrical signal transmission.</p>
                  <a class="btn btn-light" id="productBtn" href="./circularConnectors-en" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">View Details <i class="fas fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-1 col-xs-0"></div>
      </div>
      <div class="row">
        <div class="col-xxl-1 col-xs-0"></div>
        <div class="col-xxl-10 col-xs-12">
          <div class="card mb-3" style="margin-top: 6rem;">
            <div class="row g-0">
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">Rectangular Connectors</h1>
                  <p class="card-text">Products in line with GJB142A, GJB2446, GJB1438 and other national military standards circular series of products, the main models are: D-Sub series, J58, J60, J30J, JL, HJ and other series of high-reliability military rectangular connectors, the products are widely used in shipboard, airborne, vehicle-mounted, land-based electronic equipment of all kinds.</p>
                  <a class="btn btn-light" id="productBtn" href="./rectangularConnectors-en" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">View Details <i class="fas fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="col-md-5">
                <img src="image/rectangular connectors/DXSMSeriesRectangularConnectors.jpg" class="img-fluid rounded-start" alt="Image not available">
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-xxl-1 col-xs-0"></div>
      </div>
      <div class="row">
        <div class="col-xxl-1 col-xs-0"></div>
        <div class="col-xxl-10 col-xs-12">
          <div class="card mb-3" style="margin-top: 6rem;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="image/RF connectors/SMA-JW5-0007.jpg" class="img-fluid rounded-start" alt="Image not available">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">RF Connectors</h1>
                  <p class="card-text">Products in line with GJB681, GJB11316 and other national military standards of the full range of RF coaxial connectors, the main models are SMA, SMB, SMC, SMP, MCX, N, BNC, BMA, TNC, and other series of high-reliability coaxial RF connectors and RF cable assemblies, the products are widely used in shipborne, airborne, vehicle-borne communications, satellite navigation, radar, electronic warfare and other equipment systems and land-based equipment, high-frequency signal transmission.</p>
                  <a class="btn btn-light" id="productBtn" href="./RFConnectors-en" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">View Details <i class="fas fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-1 col-xs-0"></div>
      </div>
      <div class="row">
        <div class="col-xxl-1 col-xs-0"></div>
        <div class="col-xxl-10 col-xs-12">
          <div class="card mb-3" style="margin-top: 6rem;">
            <div class="row g-0">
              
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">Circuit Connectors</h1>
                  <p class="card-text">Products comply with GJB 1438A-2006 national military standards, the U.S. military standard MIL-C-55302 and IEC603-2, DIN41612 standards, a full range of inter-board connectors, with different models, specifications, grid spacing between the board connectors, products are widely used in communications systems, automotive industry, medical machinery, instrumentation, elevator industry, financial manufacturing, industrial automation, etc.</p>
                  <a class="btn btn-light" id="productBtn" href="./CircuitConnectors-en" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">View Details <i class="fas fa-arrow-right"></i></a>
                </div>
              </div>
              <div class="col-md-5">
                <img src="image/circuit connectors/PinHeader.jpg" class="img-fluid rounded-start" alt="Image not available">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-1 col-xs-0"></div>
      </div>
      <div class="row">
        <div class="col-xxl-1 col-xs-0"></div>
        <div class="col-xxl-10 col-xs-12">
          <div class="card" style="margin-top: 6rem; margin-bottom: 4rem;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="image/cords/Cord.jpg" class="img-fluid rounded-start" alt="Image not available">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">Cords</h1>
                  <p class="card-text">Modern equipment involved in the increase in the number of systems, power, control, video and audio, high-frequency transmission, remote control and other equipment, in order to achieve a reliable interconnection of various systems need to be connected to all kinds of cables and connectors. Processing all kinds of communications, electronics, power and mixed groups of cable assemblies, YiWuBa cable assemblies are widely used in all kinds of ships, vehicles, satellite navigation and other equipment and facilities of all kinds of equipment. According to customer equipment design requirements for users to provide various types of customized, personalized system interconnection solutions.</p>
                  <a class="btn btn-light" id="productBtn" href="./cords-en" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">View Details <i class="fas fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-1 col-xs-0"></div>
      </div>
    </div>
    
    <footer>
        <%- include('./footer'); %>
    </footer>
      <%- include('./scripts'); %>
</body>
</html>