<!DOCTYPE html>
<html lang="En">
<head>
    <%- include('../EN/head'); %>
    <title>GJB598-SeriesCircularConnectors</title>
</head>
<body>
  <%- include('../EN/nav2'); %>
  <div class="row">
      <div class="col-2">
          <ul class="list-group" style="width: 10rem; margin-top: 5rem;">
              <li class="list-group-item list-group-item-info">Products Categories</li>
              <li class="list-group-item">Circular Connectors</li>
              <li class="list-group-item">Rectangular Connectors</li>
              <li class="list-group-item">RF Connectors</li>
              <li class="list-group-item">Circuit Connectors</li>
              <li class="list-group-item">cords</li>
            </ul>
      </div>
      <div class="col-10">
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card mb-3" style="width: 60rem; margin-top: 10rem; height: 15rem;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="image/circular connectors/GJB598-SeriesCircularConnectors.jpg" class="img-fluid rounded-start" alt="image not available">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">GJB598-SeriesCircularConnectors </h5>
                    <p class="card-text">
                        广泛适用于各类军用民用设备中
                         </p>
                    <a class="btn btn-light" id="productBtn" href="#Inquiry" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Product Inquiry</a>
                    <a class="btn btn-light" id="productBtn" href="#Related" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Related Products</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card" style="width: 60rem;">
                <div class="card-header">
                  Product Description
                </div>
                <div class="card-body">
                  <p class="card-text">GJB598系列Ⅰ圆形连接器
                    <br>符合GJB 598（MIL-C-26482）Ⅰ 系列
                    <br>卡口式快速连接
                    <br>接触件端接形式为焊接
                    <br>体积小、密度高、耐环境好
                    <br>广泛应用于各类军用、民用设备中
                    <br>技术性能
                    <br>使用温度：-55℃～+125℃
                    <br>相对湿度：40℃时，达95士4%
                    <br>耐盐雾：镀镉：500小时：镀镍：48小时密封性；
                    <br>封线体密封：压差2x105Pa，泄漏率小于4.6x102Pa·cm3/s
                    <br>烧结密封：压差1x105Pa，泄漏率小于0.1Pa·cm3/s
                    <br>壳体：铝合金
                    <br>镀层：不标记 镀镉橄榄褐色，导电外壳
                    <br>L类化学镀镍，导电外壳      A类黑色阳极化，非导电外壳
                    <br>S类不锈钢钝化，导电外壳    B类镀镉军绿色，导电外壳
                    <br>BW类镀镉褐绿色，导电外壳
                    <br>绝缘体：氯丁橡胶
                    <br>封线体和密封圈：硅橡胶材料
                    <br>接触件：铜合金镀金
                    <br>随机振动：频率10～2000Hz加速度147m/s2
                    <br>冲击：加速度490m/s2
                    <br>机械寿命：500次
                    <br><br>
                    <br>GJB598系列Ⅱ圆形连接器
                    <br>符合GJB598（MIL-C-26482）Ⅱ系列标准，具有卡口式快速连接，可取卸的镀金压接接触件，接触偶密度高。RFI（防射频干扰）屏蔽插头，插合面界面密封。广泛适用于各类军用民用设备中。
                    <br>技术性能
                    <br>使用温度： -55˚C ～+175˚C（W 类），-55˚C ～+200˚C（L 类、A 类、S 类） 
                    <br>相对湿度：65˚C 时，达 94±4% 
                    <br>耐 盐 雾：W 类：500h；L 类：96h；A 类：48h；S 类：1000h 
                    <br>抗射频干扰：频率 100～1000MHz，泄漏衰减 65～45dB（JY3475 插头） 
                    <br>耐液体：能耐航空汽油、冷冻油、润滑油等 12 种液体（L 类）
                    <br>壳体材料：铝合金 
                    <br>镀层：W 类：镀镉橄榄褐色，导电外壳； L 类：化学镀镍，导电外壳 
                    <br>A 类：黑色阳极化，非导电外壳； B 类：镀镉军绿色，导电外壳 
                    <br>S 类：不锈钢钝化，导电外壳 ；  BW 类：镀镉褐绿色，导电外壳 
                    <br>绝缘体材料：热固性塑料 
                    <br>封线体和密封圈材料：硅橡胶 
                    <br>接触件材料：铜合金表面镀金，压接可取卸 
                    <br>机械寿命：500 次 
                    <br>冲击：3ms 半正弦波 加速度峰值 300g 
                    <br>随机振动：频率 10～2000Hz，功率谱密度 1.0G2 /Hz
                    </p>
                </div>
              </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Inquiry">
                <div class="card-header">
                    Product Inquiry
                </div>
                <div class="card-body">
                    <form action="../contact" method="POST">
                        <div class="row">
                          <div class="col-12 text-left">
                            <p>Note: Please leave your cell phone number and email address and one of our professionals will contact you as soon as possible! </p>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">First Name:</span>
                              <input type="text" name="firstName"class="form-control" placeholder="First Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Last Name:</span>
                              <input type="text" name="lastName" class="form-control" placeholder="Last Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Email:</span>
                              <input type="email" name="email" class="form-control" placeholder="example@abc.com" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Phone:</span>
                              <input type="text" name="phone" class="form-control" placeholder="( ___ ) - ___ - ____" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group">
                              <span class="input-group-text">Message</span>
                              <textarea class="form-control" name="message" aria-label="With textarea" placeholder="Message" required="true"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row align-item-center mt-3">
                          <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                      
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Related">
                <div class="card-header">
                    Related Product
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-group">
                            <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50X-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50X Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50DX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50DX Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YGD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YGD Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YP-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YP Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
      <footer>
        <%- include('../EN/footer'); %>
      </footer>
      <%- include('../EN/scripts'); %>
</body>
</html>



