<!DOCTYPE html>
<html lang="En">
<head>
    <%- include('../EN/head'); %>
    <title>GJB599-SeriesCircularConnectors</title>
</head>
<body>
  <%- include('../EN/nav2'); %>
  <div class="row">
      <div class="col-2">
          <ul class="list-group" style="width: 10rem; margin-top: 5rem;">
              <li class="list-group-item list-group-item-info">Products Categories</li>
              <li class="list-group-item">Circular Connectors</li>
              <li class="list-group-item">Rectangular Connectors</li>
              <li class="list-group-item">RF Connectors</li>
              <li class="list-group-item">Circuit Connectors</li>
              <li class="list-group-item">cords</li>
            </ul>
      </div>
      <div class="col-10">
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card mb-3" style="width: 60rem; margin-top: 10rem; height: 15rem;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="image/circular connectors/GJB599-SeriesCircularConnectors.jpg" class="img-fluid rounded-start" alt="image not available">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">GJB599-SeriesCircularConnectors </h5>
                    <p class="card-text">适用于屏蔽电缆夹紧的专用尾部附件(Ti-Ni 合金记忆环) </p>
                    <a class="btn btn-light" id="productBtn" href="#Inquiry" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Product Inquiry</a>
                    <a class="btn btn-light" id="productBtn" href="#Related" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Related Products</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card" style="width: 60rem;">
                <div class="card-header">
                  Product Description
                </div>
                <div class="card-body">
                  <p class="card-text">GJB599系列Ⅰ圆形连接器
                    <br>符合GJB599A(MIL-DTL-38999K)1系列
                    <br>卡口式快速连接
                    <br>体积小，重量轻，接触偶密度高
                    <br>EMI/RFI 屏蔽
                    <br>接触件压接可取卸，防斜插设计
                    <br>插座有盒式、墙式、前装、后装及螺母紧固式安装等多种形式·符合 GJB1784的标准尾部附件
                    <br>适用于屏蔽电缆夹紧的专用尾部附件(Ti-Ni 合金记忆环)
                    <br>9 种壳体号，70种孔组排列
                    <br>插合面界面及尾部具有密封结构，三防性能优良·五键位导向机构，有五种防错插键位·广泛应用于航空、航天及军事系统
                    <br>技术性能
                    <br>壳体：铝合金、不锈钢
                    <br>镀层：B 类·镀镉军绿色   F类·化学镀镍   E类·不锈钢钝化
                    <br>绝缘体：热固性塑料
                    <br>封线体和密封圈：硅橡胶材料
                    <br>接触体：铜合金镀金、压接型、焊接型、印制板型
                    <br>机械寿命：500 次
                    <br>振动： 正弦振动 频率 10 ~ 2000Hz 加速度 294m/s²
                    <br>随机振动 频率 100~ 1000Hz 功率谱密度 1g²/HZ
                    <br>冲击：3ms 半正弦波 加速度峰值 300g
                    <br>工作温度：B类 ·65°C~ +175℃
                    <br>E、F类 -65°C~ +200°C
                    <br>耐盐雾：按 GJB1217 方法 1001 进行试验
                    <br>B类500h    E类1000h
                    <br>F类48h
                    <br>相对湿度：40°C达 98%6
                    <br>工作高度：< 30480m
                    <br>电连接器还具有良好的防潮湿、防盐雾、防霉菌、防淋雨、防沙尘等性
                    <br>
                    <br>GJB599系列Ⅱ圆形连接器
                    <br>符合GJB599A(MIL-DTL-38999K)1系列
                    <br>卡口式快速连接
                    <br>体积最小，重量最轻，壳体最短
                    <br>EMI/RFI屏蔽
                    <br>接触件压接可取卸，不防斜插
                    <br>插座有盒式、墙式、前装、后装及螺母紧固式安装等多种形式。电连接器为轻型，适用于不承受高强度振动或不经受恶劣风砂和潮湿的场合下使用
                    <br>插合面界面及尾部具有密封结构，三防性能优良广泛应用于航空、航天及军事系统
                    <br>技术性能
                    <br>壳体：铝合金、不锈钢
                    <br>镀层： B类-镀镉军绿色   F类-化学镀镍   E类-不锈钢化
                    <br>绝缘体：热固性塑料
                    <br>封线体和密封圈：硅橡胶材料
                    <br>接触体：铜合金镀金、压接型、焊接型、印制板型
                    <br>机械寿命：500次
                    <br>振动：随机振动 频率 100~ 1000Hz 功率谱密度 1g²/HZ
                    <br>冲击：3ms 半正弦波 加速度峰值 300g
                    <br>工作温度：B类·65°C~+175°C
                    <br><br>E、F类 -65°C~ +200C
                    <br>耐盐雾：按 GJB1217 方法 1001 进行试验
                    <br>B类500h    E类1000h
                    <br>F类48h
                    <br>相对湿度：40°C达 98%
                    <br>工作高度：< 30480m
                    <br>电连接器还具有良好的防潮湿、防盐雾、防霉菌、防淋雨、防沙尘等性能
                    <br>
                    <br>GJB599系列Ⅲ圆形连接器
                    <br>符合 GJB599A(MIL-DTL-38999K)I 系列
                    <br>三头螺纹快速连接，并带防松脱机构
                    <br>体积小，重量轻，接触偶密度高
                    <br>具有电磁屏蔽功能
                    <br>接触件压接可取卸，防斜插设计
                    <br>具有防火壳体、复合材料壳体、铝合金壳体和多种镀层具有高温下的高强度振动特性，能适合在恶劣的风砂和潮湿的场合下使用
                    <br>技术性能
                    <br>壳体：铝合金、不锈钢
                    <br>镀层： W 类-镀镉军绿色   F类-化学镀镍   K类-不锈钢钝化
                    <br>绝缘体：热固性材料
                    <br>封线体和密封圈：硅橡胶材料
                    <br>接触体：铜合金镀金，压接型，焊接型，印制板型
                    <br>机械寿命：500次
                    <br>振动：
                    <br>正弦：60g，并带温度循环和模拟附件(36小时)
                    <br>随机：在高温下为 44.1grms 在环境温度下为49.5grms
                    <br>冲击：3ms 半正弦 加速度峰值 300g
                    <br>工作温度： W类 -65°C~ +175°C
                    <br>F、K类 -65°℃~ +200°C
                    <br>湿热：按 MIL-DTL-3899K：24 小时 10 次循环
                    <br>盐雾：按 GJB1217 方法 1001 进行试验
                    <br>W类 500h K类1000h
                    <br>F类 48h
                    <br>
                    <br>GJB599系列Ⅳ圆形连接器
                    <br>符合 GJB599A(MIL-DTL-38999K)IV 系列高密度连接器，最多达 128 芯
                    <br>卡锁式连接结构
                    <br>100%防斜插
                    <br>带接地簧，优良的 EMI/RFI屏蔽性能适用于航空及军用等高强度振动的环境
                    <br>技术性能
                    <br>壳体：铝合金、不锈钢
                    <br>镀层： W 类-镀镉军绿色  F类-化学镀镍   K类-不锈钢钝化
                    <br>绝缘体：热固性材料
                    <br>封线体和密封圈：硅橡胶材料
                    <br>接触体：铜合金镀金、压接型、焊接型
                    <br>机械寿命：500次;1500次
                    <br>振动：
                    <br>正弦：频率 10~2000Hz加速度 588m/s²
                    <br>随机：频率 100~1000Hz功率谱密度 1g2/Hz
                    <br>冲击：3ms 半正弦 加速度峰值 300g
                    <br>工作温度： W类 -65°C~ +175°C
                    <br>F、K类 -65°℃~ +200C
                    <br>耐霉菌：按 GJB150.10,试验时间 28 天
                    <br>耐液：耐多种燃料、冷却剂、溶剂
                    <br>盐雾：按 GJB1217 方法 1001 进行试验
                    <br>W类500h    K类1000h
                    <br>F类48h
                    <br>绝缘电阻：正常> 5000MΩ；高温> 1000MΩ；潮湿> 100MΩ
                    </p>
                </div>
              </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Inquiry">
                <div class="card-header">
                    Product Inquiry
                </div>
                <div class="card-body">
                    <form action="../contact" method="POST">
                        <div class="row">
                          <div class="col-12 text-left">
                            <p>Note: Please leave your cell phone number and email address and one of our professionals will contact you as soon as possible! </p>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">First Name:</span>
                              <input type="text" name="firstName"class="form-control" placeholder="First Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Last Name:</span>
                              <input type="text" name="lastName" class="form-control" placeholder="Last Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Email:</span>
                              <input type="email" name="email" class="form-control" placeholder="example@abc.com" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Phone:</span>
                              <input type="text" name="phone" class="form-control" placeholder="( ___ ) - ___ - ____" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group">
                              <span class="input-group-text">Message</span>
                              <textarea class="form-control" name="message" aria-label="With textarea" placeholder="Message" required="true"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row align-item-center mt-3">
                          <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                      
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Related">
                <div class="card-header">
                    Related Product
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-group">
                            <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50X-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50X Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50DX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50DX Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YGD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YGD Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YP-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YP Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
      <footer>
        <%- include('../EN/footer'); %>
      </footer>
      <%- include('../EN/scripts'); %>
</body>
</html>



