<!DOCTYPE html>
<html lang="En">
<head>
    <%- include('../EN/head'); %>
    <title>YC-SeriesHighDensitySmallCircularConnectors</title>
</head>
<body>
  <%- include('../EN/nav2'); %>
  <div class="row">
      <div class="col-2">
          <ul class="list-group" style="width: 10rem; margin-top: 5rem;">
              <li class="list-group-item list-group-item-info">Products Categories</li>
              <li class="list-group-item">Circular Connectors</li>
              <li class="list-group-item">Rectangular Connectors</li>
              <li class="list-group-item">RF Connectors</li>
              <li class="list-group-item">Circuit Connectors</li>
              <li class="list-group-item">cords</li>
            </ul>
      </div>
      <div class="col-10">
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card mb-3" style="width: 60rem; margin-top: 10rem; height: 15rem;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="image/circular connectors/YC-SeriesHighDensitySmallCircularConnectors.jpg" class="img-fluid rounded-start" alt="image not available">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">YC-SeriesHighDensitySmallCircularConnectors </h5>
                    <p class="card-text">适用于航空、航天、舰船、野战通信、邮电等电子设备的电气连接 </p>
                    <a class="btn btn-light" id="productBtn" href="#Inquiry" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Product Inquiry</a>
                    <a class="btn btn-light" id="productBtn" href="#Related" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Related Products</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card" style="width: 60rem;">
                <div class="card-header">
                  Product Description
                </div>
                <div class="card-body">
                  <p class="card-text">YC系列Ⅰ高密度小圆形连接器
                    <br>连接方式：快速卡口连接;
                    <br>接触件形式：压接式
                    <br>防斜插：可在盲插条件下对接触件进行保护
                    <br>封线体密封：可防止外界的振动、扰曲损伤导线及液体渗入
                    <br>界面密封：插针的密封凸台与插孔安装板的喇叭口完全吻合，每个接触件均能实现密封
                    <br>五键槽定位：插头与插座插配时，可保证接触件准确定位
                    <br>屏蔽环：接触件在插入之前，形成壳体间的导电性
                    <br>执行标准代号：GJB599A-93
                    <br>技术性能
                    <br>工作温度：-65℃～175℃(镀镉，表面处理为B)；-65℃～200℃(镀镍，表面处理为F)
                    <br>相对湿度：40±2℃ 90%～95%
                    <br>工作电流：5A(22D、∅8)、7.5A(20#、∅1)、13A(16#、∅1.6)、23A(12#、∅2.4)
                    <br>工作电压：400V(使用等级M)、600V(使用等级I)、1000V(使用等级II)
                    <br>接触电阻：≤15mΩ(22D)、≤7.5mΩ(20#)、≤5mΩ(16#)、≤2.5mΩ(12#)
                    <br>绝缘电阻：≥500CMΩ
                    <br>耐 压：1300V(使用等级M)、1800V(使用等级I)、2300V(使用等级II)
                    <br>正弦振动：10～2000Hz 294m/S²(30g)
                    <br>随机振动：功率谱密度1.0G²/Hz，总加速度均方根值41.7G
                    <br>冲击：加速度2940m/S²(300g)
                    <br>盐雾：500h(表面处理B)，48h(表面处理F)
                    <br>抗射频干扰：100MHz～10000MHz，泄漏衰减为90～50dB
                    <br>耐液体：连接器能耐12种液体(表面处理F)
                    <br>机械寿命：250次
                    
                    <br><br>YC系列Ⅱ高密度小圆形连接器
                    <br>连接方式：快速卡口连接；
                    <br>接触件形式：压接式；
                    <br>封线体密封：可防止外界的振动、扰曲损伤导线及液体渗入
                    <br>界面密封：插针的密封凸台与插孔安装板的喇叭口完全吻合，每个接触件均能实现密封
                    <br>五键糟定位：插头与插座插配时，可保证接触件准确定位
                    <br>屏蔽环：接触件在插入之前，形成壳体间的导电性
                    <br>执行标准代号：GJB599A-93
                    <br>技术性能
                    <br>工作温度：-65℃～175℃(镀镉，表面处理为B)、-65℃～200℃(镀镍，表面处理为F)
                    <br>相对湿度：40±2℃ 90%～95%
                    <br>工作电流：5A(22D、∅0.8)、7.5A(20#、∅1)、13A(16#、∅1.6)、23A(12#、∅2.4)
                    <br>工作电压：400V(使用等级M)、600V(使用等级I)、1000V(使用等级II)
                    <br>接触电阻：≤15mΩ(22D)、≤7.5mΩ(20#)、≤5mΩ(16#)、≤2.5mΩ(12#)
                    <br>绝缘电阻：≥5000CMΩ
                    <br>耐压：1300V(使用等级M)、1800V(使用等级I)、2300V(使用等级II)
                    <br>正弦振动：10～2000Hz  294m/S²(30g)
                    <br>随机振动：功率谱密度1.0G²/Hz，总加速度均方根值41.7G
                    <br>冲击：加速度2940m/s²(300g)
                    <br>盐雾：500h(表面处理B)，48h(表面处理F)
                    <br>抗射频干扰：100MHz～10000MHz，泄漏衰减为90～50dB
                    <br>耐液体：连接器能耐12种液体(表面处理F)
                    <br>机械寿命：500次(YC27484为250次)
                    <br>
                    <br>YC系列Ⅲ高密度小圆形连接器
                    <br>连接方式：三头螺纹快速连接；
                    <br>防松止退机构：可使连接锁紧可靠，防止在振动中连接失效
                    <br>接触件形式：压接式
                    <br>防斜插：防止错误操作对接触件的损伤
                    <br>封线体密封：可防止外界的振动、扰曲损伤导线及液体渗入
                    <br>界面密封：插针的密封凸台与插孔安装板的喇叭口完全吻合，每个接触件均能实现密封
                    <br>五键槽定位：插头与插座插配时，可保证接触件准确定位
                    <br>屏蔽环：强化EMI/RFI屏蔽，并在插头与插座插配时，插针在插入之前，保证先使壳体间导电
                    <br>执行标准代号：GJB599A-93
                    <br>该连接器的性能及机械坚固性使其可满足如下使用要求：
                    <br>1、军用航空及民航
                    <br>2、弹道武器及军事系统
                    <br>3、海军武器装备
                    <br>技术性能
                    <br>工作温度：-65℃～175℃(镀镉，表面处理为B)、-65℃～200℃(镀镍，表面处理为F)
                    <br>相对湿度：40±2℃  90%～95%
                    <br>工作电流：5A(22D、∅0.8)、7.5A(20#、∅1)、13A(16#、∅1.6)、23A(12#、∅2.4)
                    <br>工作电压：400V(使用等级M)、600V(使用等级I)、1000V(使用等级II)
                    <br>接触电阻：≤15mΩ(22D)、≤7.5mΩ(20#)、≤5mΩ(16#)、≤2.5mΩ(12#)
                    <br>绝缘电阻：≥5000CMΩ
                    <br>耐压：1300V(使用等级M)、1800V(使用等级I)、2300V(使用等级II)
                    <br>正弦振动：10～2000Hz  588m/S²(60g)
                    <br>随机振动：功率谱密度1.0G²/Hz，总加速度均方根值41.7G
                    <br>冲击：加速度2940m/S²(300g)
                    <br>盐雾：500h(表面处理W)，48h(表面处理F)
                    <br>抗射频干扰：100MHz～10000MHz，泄漏衰减为90～50dB
                    <br>耐液体：连接器能耐12种液体(表面处理F)
                    <br>机械寿命：500次
                    </p>
                </div>
              </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Inquiry">
                <div class="card-header">
                    Product Inquiry
                </div>
                <div class="card-body">
                    <form action="../contact" method="POST">
                        <div class="row">
                          <div class="col-12 text-left">
                            <p>Note: Please leave your cell phone number and email address and one of our professionals will contact you as soon as possible! </p>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">First Name:</span>
                              <input type="text" name="firstName"class="form-control" placeholder="First Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Last Name:</span>
                              <input type="text" name="lastName" class="form-control" placeholder="Last Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Email:</span>
                              <input type="email" name="email" class="form-control" placeholder="example@abc.com" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Phone:</span>
                              <input type="text" name="phone" class="form-control" placeholder="( ___ ) - ___ - ____" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group">
                              <span class="input-group-text">Message</span>
                              <textarea class="form-control" name="message" aria-label="With textarea" placeholder="Message" required="true"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row align-item-center mt-3">
                          <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                      
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Related">
                <div class="card-header">
                    Related Product
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-group">
                            <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50X-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50X Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50DX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50DX Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YGD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YGD Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YP-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YP Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
      <footer>
        <%- include('../EN/footer'); %>
      </footer>
      <%- include('../EN/scripts'); %>
</body>
</html>



