<!DOCTYPE html>
<html lang="En">
<head>
    <%- include('../EN/head'); %>
    <title>YMC-SeriesCircularConnectors</title>
</head>
<body>
  <%- include('../EN/nav2'); %>
  <div class="row">
      <div class="col-2">
          <ul class="list-group" style="width: 10rem; margin-top: 5rem;">
              <li class="list-group-item list-group-item-info">Products Categories</li>
              <li class="list-group-item">Circular Connectors</li>
              <li class="list-group-item">Rectangular Connectors</li>
              <li class="list-group-item">RF Connectors</li>
              <li class="list-group-item">Circuit Connectors</li>
              <li class="list-group-item">cords</li>
            </ul>
      </div>
      <div class="col-10">
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card mb-3" style="width: 60rem; margin-top: 10rem; height: 15rem;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="image/circular connectors/YMC-SeriesCircularConnectors.jpg" class="img-fluid rounded-start" alt="image not available">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">YMC-SeriesCircularConnectors </h5>
                    <p class="card-text">适用于潮湿、浸水等恶劣环境下的设备与电缆、电缆与电缆之间的电器连接 </p>
                    <a class="btn btn-light" id="productBtn" href="#Inquiry" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Product Inquiry</a>
                    <a class="btn btn-light" id="productBtn" href="#Related" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Related Products</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card" style="width: 60rem;">
                <div class="card-header">
                  Product Description
                </div>
                <div class="card-body">
                  <p class="card-text">适用于潮湿、浸水等恶劣环境下的设备与电缆、电缆与电缆之间的电器连接。可耐50米水深密封，卡口式快速连接。插头端接方式均为压接，插座为焊接，五键定位具有盲插和防错插功能。高可靠的双曲面线簧插孔使连接器插拔柔和，接触阻小插头插座既可装针，也可装孔。
                    <br>技术性能
                    <br>使用温度：-55℃～200℃
                    <br>相对湿度：60℃时，达95%。
                    <br>密封性能：浸水深度0～50米
                    <br>耐环境性能：不锈钢1000小时，铜合金500小时，铝合金48小时
                    <br>电连接器还具有良好的防霉菌、防沙尘等性能。
                    <br>壳体：不锈钢钝化，也可根据用户需要采用铜合金锻面镀镍
                    <br>绝缘体：热固性材料
                    <br>封线体和密封圈：硅橡胶接触件：铜合金镀金
                    <br>振动：频率10～2000HZ加速度196m/s2
                    <br>冲击：加速度980m/s2
                    <br>恒加速度：980m/s2
                    <br>机械寿命：1000次</p>
                </div>
              </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Inquiry">
                <div class="card-header">
                    Product Inquiry
                </div>
                <div class="card-body">
                    <form action="../contact" method="POST">
                        <div class="row">
                          <div class="col-12 text-left">
                            <p>Note: Please leave your cell phone number and email address and one of our professionals will contact you as soon as possible! </p>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">First Name:</span>
                              <input type="text" name="firstName"class="form-control" placeholder="First Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Last Name:</span>
                              <input type="text" name="lastName" class="form-control" placeholder="Last Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Email:</span>
                              <input type="email" name="email" class="form-control" placeholder="example@abc.com" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Phone:</span>
                              <input type="text" name="phone" class="form-control" placeholder="( ___ ) - ___ - ____" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group">
                              <span class="input-group-text">Message</span>
                              <textarea class="form-control" name="message" aria-label="With textarea" placeholder="Message" required="true"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row align-item-center mt-3">
                          <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                      
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Related">
                <div class="card-header">
                    Related Product
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-group">
                            <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50X-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50X Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50DX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50DX Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YGD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YGD Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YP-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YP Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
      <footer>
        <%- include('../EN/footer'); %>
      </footer>
      <%- include('../EN/scripts'); %>
</body>
</html>



