<!DOCTYPE html>
<html lang="En">
<head>
    <%- include('../EN/head'); %>
    <title>YQ6-CircularConnectors</title>
</head>
<body>
  <%- include('../EN/nav2'); %>
  <div class="row">
      <div class="col-2">
          <ul class="list-group" style="width: 10rem; margin-top: 5rem;">
              <li class="list-group-item list-group-item-info">Products Categories</li>
              <li class="list-group-item">Circular Connectors</li>
              <li class="list-group-item">Rectangular Connectors</li>
              <li class="list-group-item">RF Connectors</li>
              <li class="list-group-item">Circuit Connectors</li>
              <li class="list-group-item">cords</li>
            </ul>
      </div>
      <div class="col-10">
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card mb-3" style="width: 60rem; margin-top: 10rem; height: 15rem;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="image/circular connectors/YQ6-CircularConnectors.jpg" class="img-fluid rounded-start" alt="image not available">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">YQ6-CircularConnectors </h5>
                    <p class="card-text">产品可广泛应用于各种军工和民用电子设备中</p>
                    <a class="btn btn-light" id="productBtn" href="#Inquiry" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Product Inquiry</a>
                    <a class="btn btn-light" id="productBtn" href="#Related" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Related Products</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card" style="width: 60rem;">
                <div class="card-header">
                  Product Description
                </div>
                <div class="card-body">
                  <p class="card-text">该系列产品符合 GJB598A-96 系列|(等效于 MIL-C-26482G系列I)；
                   <br>连接方式采用了卡口快速连接，接触件端接形式为焊线或焊板;
                   <br>产品具有快速连接和分离、体积小、密度高、耐环环境好，可靠性高等特点;
                   <br>产品可广泛应用于各种军工和民用电子设备中;
                   <br>可与国内Y 5 0EX系列、YLH 系列、YB 系列产品互换；
                     
                    
                   <br>技术性能：
                   <br>环境温度：-55 ~+125°C
                   <br>相对湿度：90%~ 95%(40士 2°C)
                   <br>工作气压：4.39KPa~ 101.33KPa
                   <br>盐 雾：5%NaCl雾气中 48H
                   <br>密 封 性：IP67
                   <br>振动：10~2000Hz196m/s
                   <br>冲击：980m/s²
                   <br>机械寿命：500 次</p>
                </div>
              </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Inquiry">
                <div class="card-header">
                    Product Inquiry
                </div>
                <div class="card-body">
                    <form action="../contact" method="POST">
                        <div class="row">
                          <div class="col-12 text-left">
                            <p>Note: Please leave your cell phone number and email address and one of our professionals will contact you as soon as possible! </p>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">First Name:</span>
                              <input type="text" name="firstName"class="form-control" placeholder="First Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Last Name:</span>
                              <input type="text" name="lastName" class="form-control" placeholder="Last Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Email:</span>
                              <input type="email" name="email" class="form-control" placeholder="example@abc.com" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Phone:</span>
                              <input type="text" name="phone" class="form-control" placeholder="( ___ ) - ___ - ____" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group">
                              <span class="input-group-text">Message</span>
                              <textarea class="form-control" name="message" aria-label="With textarea" placeholder="Message" required="true"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row align-item-center mt-3">
                          <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                      
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Related">
                <div class="card-header">
                    Related Product
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-group">
                            <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50X-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50X Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50DX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50DX Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YGD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YGD Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YP-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YP Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
      <footer>
        <%- include('../EN/footer'); %>
      </footer>
      <%- include('../EN/scripts'); %>
</body>
</html>



