<!DOCTYPE html>
<html lang="En">
<head>
    <%- include('../EN/head'); %>
    <title>Y16-SeriesCircularConnectors</title>
</head>
<body>
  <%- include('../EN/nav2'); %>
  <div class="row">
      <div class="col-2">
          <ul class="list-group" style="width: 10rem; margin-top: 5rem;">
              <li class="list-group-item list-group-item-info">Products Categories</li>
              <li class="list-group-item">Circular Connectors</li>
              <li class="list-group-item">Rectangular Connectors</li>
              <li class="list-group-item">RF Connectors</li>
              <li class="list-group-item">Circuit Connectors</li>
              <li class="list-group-item">cords</li>
            </ul>
      </div>
      <div class="col-10">
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card mb-3" style="width: 60rem; margin-top: 10rem; height: 15rem;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="image/circular connectors/Y16-SeriesCircularConnectors.jpg" class="img-fluid rounded-start" alt="image not available">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Y16-SeriesCircularConnectors </h5>
                    <p class="card-text">广泛应用于各种电器设备之间的电路连接 </p>
                    <a class="btn btn-light" id="productBtn" href="#Inquiry" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Product Inquiry</a>
                    <a class="btn btn-light" id="productBtn" href="#Related" role="button" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;">Related Products</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card" style="width: 60rem;">
                <div class="card-header">
                  Product Description
                </div>
                <div class="card-body">
                  <p class="card-text">Y16系列圆形连接器是中心螺杆连接，使用方便，锁紧可靠。具有防雨、防尘、防盐雾等功能，并有防误插机构。广泛应用于各种电器设备之间的电路连接。
                    <br>技术性能
                    <br>工作温度：-55℃～125℃
                    <br>相对湿度：40±2℃时相对湿度92%～98%
                    <br>工作气压：101.33kPa～6.67Pa
                    <br>正弦振动：10～2000Hz 加速度196 m/s2
                    <br>冲击：加速度980 m/s2
                    <br>碰撞：加速度392 m/s2
                    <br>淋雨：降雨量5mm/min
                    <br>机械寿命：1000次（普通）
                    <br>      500次（Y16N）
                    <br>密封性：普通插座不小于98kPa
                    <br>执行标准：Q/HA20030-2011</p>
                </div>
              </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Inquiry">
                <div class="card-header">
                    Product Inquiry
                </div>
                <div class="card-body">
                    <form action="../contact" method="POST">
                        <div class="row">
                          <div class="col-12 text-left">
                            <p>Note: Please leave your cell phone number and email address and one of our professionals will contact you as soon as possible! </p>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">First Name:</span>
                              <input type="text" name="firstName"class="form-control" placeholder="First Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Last Name:</span>
                              <input type="text" name="lastName" class="form-control" placeholder="Last Name" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Email:</span>
                              <input type="email" name="email" class="form-control" placeholder="example@abc.com" required="true">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text">Phone:</span>
                              <input type="text" name="phone" class="form-control" placeholder="( ___ ) - ___ - ____" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group">
                              <span class="input-group-text">Message</span>
                              <textarea class="form-control" name="message" aria-label="With textarea" placeholder="Message" required="true"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row align-item-center mt-3">
                          <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                      
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card"  style="width: 60rem;" id="Related">
                <div class="card-header">
                    Related Product
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-group">
                            <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50X-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50X Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/Y50DX-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">Y50DX Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YGD-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YGD Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                              <div class="card">
                                <a href="contacts">
                                <img src="image/circular connectors/YP-SeriesCircularConnectors.jpg" class="card-img-top" alt="image not available">
                                
                                <div class="card-footer">
                                  <small class="text-muted">YP Series Circular Connectors</small>
                                </div>
                            </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
      <footer>
        <%- include('../EN/footer'); %>
      </footer>
      <%- include('../EN/scripts'); %>
</body>
</html>



